@import "partials/global";


nav{
  width: 100%;

  .logo{
    padding: 10px;
    cursor: pointer;
    width: auto;

    a{
      color: #FFF;
    }
    a:hover{
      text-decoration: none;
    }
  }

  .controls{
    float: right;
    margin-top: -45px;
    z-index: 100;



    a{
      color: #FFF;
      padding: 0px 20px;
      text-transform: uppercase;
    }

    a:hover{
      text-decoration: none;
    }
  }

}

form{
  padding: 0px 20px;

  label{
    display: block;
    font-weight: 300 !important;
    font-size: 16px !important;
  }

  input{
    display: block;
    border-radius: 0px;
    border: 1px solid #eeeeee;
    background-color: #f1f1f1;
    width: 100%;
    padding: 5px;

  }
}