@import "http://fonts.googleapis.com/css?family=Raleway:400,700";
@import "http://fonts.googleapis.com/css?family=Shadows+Into+Light";
body {
  color: #666;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  line-height: 2em; }

.logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px; }

html, body {
  height: 100%;
  margin: 0px;
  background-image: url("../images/dashboard/background.png"); }

.sidebar {
  height: 100%;
  background-color: #354053;
  width: 220px;
  padding-top: 20px;
  color: #848fa1;
  border-right: 1px solid #dce0e4;
  position: fixed; }
  .sidebar .profilePic {
    text-align: center; }
    .sidebar .profilePic .pic {
      border-radius: 50%;
      width: 75px;
      height: 75px;
      margin: 0px auto;
      position: relative; }
    .sidebar .profilePic .name {
      display: block;
      font-size: 14px; }
  .sidebar .sidebarItem {
    width: 100%;
    padding: 10px;
    display: block;
    color: #9aa5b9;
    font-size: 14px;
    background-color: transparent; }
    .sidebar .sidebarItem i {
      display: inline-block;
      margin-right: 20px;
      margin-left: 10px; }
  .sidebar .sidebarItem:hover {
    text-decoration: none;
    color: #fff; }
  .sidebar .current:nth-child(2) {
    border-left: 2px solid #f1c40f;
    color: #FFF; }
  .sidebar .current:nth-child(3) {
    border-left: 2px solid #2ecc71;
    color: #FFF; }
  .sidebar .current:nth-child(4) {
    border-left: 2px solid #3498db;
    color: #FFF; }
  .sidebar .sidebarItem:nth-child(2):before {
    background-color: #f1c40f; }
  .sidebar .sidebarItem:nth-child(3):before {
    background-color: #2ecc71; }
  .sidebar .sidebarItem:nth-child(4):before {
    background-color: #3498db; }
  .sidebar .sidebarItem:nth-child(5):before {
    background-color: #e74c3c; }

.mobileControls {
  width: 100%;
  background-color: #34495e;
  height: 60px;
  display: none; }
  .mobileControls .profilePic {
    width: 40px;
    height: 40px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    border-radius: 50%; }
  .mobileControls .name {
    font-size: 16px;
    color: #FFF;
    margin-top: 13px;
    display: inline-block; }
  .mobileControls .hamburger {
    float: right;
    color: #FFF;
    font-size: 25px;
    margin: 13px 20px;
    cursor: pointer; }
    .mobileControls .hamburger .hideSidebar {
      display: none; }

.content {
  margin-left: 220px;
  width: calc(100% - 220px); }

@media (max-width: 710px) {
  .sidebar {
    z-index: 150;
    margin-left: -220px; }
    .sidebar .profilePic {
      display: none; }

  .ui-helper-hidden-accessible {
    display: none; }

  .mobileControls {
    display: inline-block; }

  .content {
    margin-left: 0px;
    width: 100%; } }

/*# sourceMappingURL=loggedIn.css.map */
