@import "partials/global";


html, body {
  height: 100%;
  margin: 0px;

  background-image: url('../images/dashboard/background.png');
}

.sidebar{
  height: 100%;
  background-color: #354053;
  width: 220px;
  padding-top: 20px;
  color: #848fa1;
  border-right: 1px solid #dce0e4;
  position: fixed;

  .profilePic{
    text-align: center;

    .pic{
      border-radius: 50%;
      width: 75px;
      height: 75px;
      margin: 0px auto;
      position: relative;
    }

    .name{
      display: block;
      font-size: 14px;
    }
  }

  .sidebarItem{
    width: 100%;
    padding: 10px;
    display: block;
    color: #9aa5b9;
    font-size: 14px;
    background-color: transparent;

    i{
      display: inline-block;
      margin-right: 20px;
      margin-left: 10px;
    }
  }

  .sidebarItem:hover{
    text-decoration: none;
    color: #fff;
  }

  .current:nth-child(2){
    border-left: 2px solid #f1c40f;
    color: #FFF;
  }

  .current:nth-child(3){
    border-left: 2px solid #2ecc71;
    color: #FFF;
  }

  .current:nth-child(4){
    border-left: 2px solid #3498db;
    color: #FFF;
  }

  .sidebarItem:nth-child(2):before{
    background-color: #f1c40f;
  }
  .sidebarItem:nth-child(3):before{
    background-color: #2ecc71;
  }
  .sidebarItem:nth-child(4):before{
    background-color: #3498db;
  }
  .sidebarItem:nth-child(5):before{
    background-color: #e74c3c;
  }
}

.mobileControls{
  width: 100%;
  background-color: #34495e;
  height: 60px;
  display: none;

  .profilePic{
    width: 40px;
    height: 40px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    border-radius: 50%;
  }

  .name{
    font-size: 16px;
    color: #FFF;
    margin-top: 13px;
    display: inline-block;
  }

  .hamburger{
    float: right;
    color: #FFF;
    font-size: 25px;
    margin: 13px 20px;
    cursor: pointer;

    .hideSidebar{
      display: none;
    }
  }
}

.content{
  margin-left: 220px;
  width: calc(100% - 220px);
}


@media (max-width: 710px) {
  .sidebar{
    z-index: 150;
    margin-left: -220px;

    .profilePic{
      display: none;
    }
  }

  .ui-helper-hidden-accessible{
    display: none;
  }

  .mobileControls{
    display: inline-block;
  }

  .content{
    margin-left: 0px;
    width: 100%;
  }
}