@import "http://fonts.googleapis.com/css?family=Raleway:400,700";
@import "http://fonts.googleapis.com/css?family=Shadows+Into+Light";
body {
  color: #666;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  line-height: 2em; }

.logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px; }

nav {
  width: 100%; }
  nav .logo {
    padding: 10px;
    cursor: pointer;
    width: auto; }
    nav .logo a {
      color: #FFF; }
    nav .logo a:hover {
      text-decoration: none; }
  nav .controls {
    float: right;
    margin-top: -45px;
    z-index: 100; }
    nav .controls a {
      color: #FFF;
      padding: 0px 20px;
      text-transform: uppercase; }
    nav .controls a:hover {
      text-decoration: none; }

form {
  padding: 0px 20px; }
  form label {
    display: block;
    font-weight: 300 !important;
    font-size: 16px !important; }
  form input {
    display: block;
    border-radius: 0px;
    border: 1px solid #eeeeee;
    background-color: #f1f1f1;
    width: 100%;
    padding: 5px; }

/*# sourceMappingURL=loggedOut.css.map */
