@import "http://fonts.googleapis.com/css?family=Raleway:400,700";
@import "http://fonts.googleapis.com/css?family=Shadows+Into+Light";
body {
  color: #666;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  line-height: 2em; }

.logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px; }

.searchBar {
  width: 100%;
  font-size: 18px; }
  .searchBar i {
    position: absolute;
    margin-top: 16px;
    margin-left: 10px; }
  .searchBar .search {
    width: 100%;
    border: 0px;
    padding: 10px 10px 10px 40px;
    border-bottom: 1px solid #eeeeee; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.draggable {
  width: 100%;
  height: 300px;
  display: inline-block; }

.draggable:hover {
  text-decoration: none; }

.track {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  transition: 0.2s;
  color: #fff;
  cursor: pointer;
  background-color: #FFF;
  -webkit-box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2); }
  .track .controls {
    position: absolute;
    z-index: 2;
    left: 100%;
    font-size: 20px;
    margin-left: -90px;
    top: -50px;
    transition: 0.2s; }
    .track .controls i {
      margin-left: 5px;
      border-radius: 50%;
      background-color: black;
      padding: 6px 7px;
      margin-top: 10px; }
    .track .controls .pauseTrack {
      background-color: #c0392b; }
    .track .controls .editTrack {
      background-color: #34495e; }
    .track .controls .startTrack {
      background-color: #2ecc71; }
  .track .trackChart {
    left: -10%;
    width: 120%;
    top: 60px;
    position: absolute;
    height: 300px;
    z-index: 1;
    opacity: 0.3; }
  .track img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
    z-index: 0;
    transition: 0.2s; }
  .track .defaultBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
    opacity: 1;
    z-index: 0;
    transition: 0.2s;
    background: url("../../images/tracks/default.png"); }
  .track .name {
    font-size: 30px;
    display: inline-block;
    z-index: 2;
    position: relative;
    font-weight: 600;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 0px 0px 5px 0px;
    line-height: 25px; }
    .track .name .schedule {
      display: block;
      font-size: 14px;
      font-weight: 300; }
  .track .disabled {
    font-size: 30px;
    width: 100%;
    margin-top: 130px;
    text-align: center;
    position: absolute;
    z-index: 5;
    background-color: #333;
    opacity: 0;
    transition: 0.2s;
    color: #FFF; }
  .track .color1 {
    background-color: #1abc9c; }
  .track .color2 {
    background-color: #2ecc71; }
  .track .color3 {
    background-color: #3498db; }
  .track .color4 {
    background-color: #9b59b6; }
  .track .color5 {
    background-color: #f1c40f; }
  .track .question {
    font-size: 20px;
    z-index: 2;
    position: relative;
    top: 200px;
    width: 100%;
    display: block;
    text-align: right;
    padding: 0px 5px;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 100; }

.track:hover img {
  opacity: 0.6; }
.track:hover .trackChart {
  opacity: 1.0; }
.track:hover .controls {
  top: 0px; }
.track:hover .question {
  background-color: rgba(0, 0, 0, 0.3); }

.paused:hover {
  background-color: #c0392b; }
  .paused:hover .disabled {
    opacity: 1; }
  .paused:hover .trackChart {
    opacity: 0; }

.colors {
  width: 100%;
  height: 2px;
  top: 0px;
  margin-top: 297px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  position: absolute;
  z-index: 100; }
  .colors .color {
    height: 2px;
    width: 20%;
    float: left; }
  .colors .color:nth-child(1) {
    background-color: #1abc9c; }
  .colors .color:nth-child(2) {
    background-color: #2ecc71; }
  .colors .color:nth-child(3) {
    background-color: #3498db; }
  .colors .color:nth-child(4) {
    background-color: #9b59b6; }
  .colors .color:nth-child(5) {
    background-color: #f1c40f; }

.highcharts-background {
  background-color: transparent !important;
  fill: transparent !important; }

.noTracks {
  position: absolute;
  width: 700px;
  top: 100px;
  text-align: center;
  left: calc(50% + 220px);
  margin-left: -460px;
  z-index: 100; }

.ghostTrack {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  transition: 0.2s;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2); }
  .ghostTrack .line {
    width: 80%;
    background-color: rgba(128, 128, 128, 0.1);
    height: 8px;
    border-radius: 4px;
    display: block;
    margin-bottom: 20px; }
  .ghostTrack .line:nth-child(2) {
    width: 70%; }
  .ghostTrack .bottomLine {
    position: absolute;
    top: 270px;
    left: 100%;
    width: 30%;
    margin-left: -33%;
    background-color: rgba(128, 128, 128, 0.1);
    height: 12px;
    border-radius: 4px; }

/*# sourceMappingURL=dashboard.css.map */
