@import "../partials/global";


label{
  display: block;
}

input, textarea{
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
}

textarea{
  height: 280px;
  padding: 10px;
}

.trackName{
  padding: 10px;
  margin-bottom: -50px;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.row{
  margin-bottom: 20px;
}

.preview {
  padding: 0px 10px 10px 10px;
  margin-top: 10px;
  border: 1px solid #eeeeee;
  border-radius: 3px;

  label{
    margin-top: 0px;
  }

  a {
    margin:5px 5px 0px 0px;
    display: inline-block;
    font-size: 14px;
  }

}

h3{
  padding-top: 50px;
}


.questionsRow{
  margin-top: -20px;

  input{
    padding: 5px;
  }

}

.optional{
  font-size: 16px;
}

.selectImage{
  padding: 10px !important;
  border-radius: 3px !important;
  background-color: #e1e1e1;
  color: #666 ;
}

.selectImage:hover{
  text-decoration: none;
}

.previewAnswer{
  cursor: default !important;
}

.selectImage:before{
  border-radius: 3px !important;
}

.trackImageSelect{
  display: none;
  width: 90%;
  background-color: #ffffff;
  height: 90%;
  position: absolute;
  left: 5%;
  right: 5%;
  padding: 20px;
  top: 5%;
  z-index: 1000;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: auto;

  .confirmation{
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -40px;
    color: #FFF;
    display: none;
  }

  .close{
    margin-top: -50px;
    margin-right: -10px;
  }

  h1{
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: left;
  }

  .image{
    display: inline-block;
    width: 21%;
    text-align: left;
    height: auto;
    background-color: #eeeeee;
    margin-right: 1%;
    margin-top: 10px;
    padding: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 165px;

    .select{
      padding: 6px;
      cursor: pointer;
      transition: 0.3s;
    }

    .select:before{
      background-color: #FFF;
    }

  }

  .image:hover{
    cursor: pointer;
    .select{
      color: #FFF;
    }


    .select1{
      background-color: #e74c3c;
    }
    .select2{
      background-color: #2ecc71;
    }
    .select3{
      background-color: #3498db;
    }
    .select4{
      background-color: #9b59b6;
    }
    .select5{
      background-color: #f1c40f;
    }

  }
}

.coverUp{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 999;
  display: none;
}

.selectedImage{
  width: 300px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding-top: 155px;
  border: 5px solid #eeeeee;

  a{
    display: inline-block;
  }
}

