@import "http://fonts.googleapis.com/css?family=Raleway:400,700";
@import "http://fonts.googleapis.com/css?family=Shadows+Into+Light";
body {
  color: #666;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  line-height: 2em; }

.logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px; }

body {
  overflow-x: hidden; }

.header {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .header .gradient {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    /* IE6-9 */
    width: 100%;
    padding-top: 500px; }
  .header .title {
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: -250px;
    color: #333;
    opacity: 0;
    font-size: 22px; }
    .header .title h1 {
      font-size: 70px;
      font-weight: 600; }
  .header .backToDash {
    position: absolute;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 20px;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    transition: 0.3s; }
  .header .backToDash:before {
    border-radius: 4px; }
  .header .backToDash:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4); }
  .header .controls {
    position: absolute;
    opacity: 0.8;
    left: 100%;
    width: 170px;
    text-align: center;
    margin-left: -180px;
    top: 0px;
    color: #FFF;
    transition: 0.2s; }
    .header .controls a {
      color: #FFF; }
    .header .controls i {
      font-size: 30px;
      margin-left: 5px;
      border-radius: 50%;
      background-color: black;
      padding: 6px 7px;
      margin-top: 10px;
      cursor: pointer; }
    .header .controls .pauseTrack {
      background-color: #c0392b; }
    .header .controls .editTrack {
      background-color: #34495e; }
    .header .controls .startTrack {
      background-color: #2ecc71; }
    .header .controls .deleteTrack {
      background-color: #e74c3c; }
  .header .controls:hover {
    opacity: 1.0; }

.noData {
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: 50px;
  color: #c0392b; }

#mainLineChart {
  margin-top: -75px;
  width: calc(100% + 35px);
  margin-left: -15px;
  height: 300px; }

#barChart {
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: 0; }

.details1 {
  margin-top: 40px; }

.records {
  position: absolute;
  z-index: 2;
  font-size: 40px;
  line-height: 70px;
  width: 90%; }
  .records .record {
    border-bottom: 1px solid #eee; }
  .records span {
    float: right; }

/*# sourceMappingURL=viewTrack.css.map */
