@import "http://fonts.googleapis.com/css?family=Raleway:400,700";
@import "http://fonts.googleapis.com/css?family=Shadows+Into+Light";
body {
  color: #666;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  line-height: 2em; }

.logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px; }

.logo {
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  opacity: 0.78; }

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: 0; }
  #bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    opacity: 0.3; }

body {
  background-color: #000; }

.signUp {
  color: #FFF;
  position: absolute;
  width: 550px;
  height: auto;
  z-index: 10;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -275px;
  text-align: center; }
  .signUp h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400; }
  .signUp h2 {
    color: #666;
    font-size: 28px; }
  .signUp .signUpButton {
    padding: 5px 40px 5px 40px;
    margin-top: 20px;
    background-color: #27ae60;
    color: #FFF;
    text-decoration: none; }

.controls {
  position: absolute;
  width: 100%;
  text-align: right;
  padding-top: 10px;
  padding-right: 0px;
  font-size: 13pt;
  z-index: 10; }
  .controls a {
    color: #FFF;
    padding: 0px 20px;
    text-transform: uppercase; }
  .controls a:hover {
    text-decoration: none; }

/*# sourceMappingURL=landing.css.map */
