@import "../partials/global";


body{
  background: url("../../images/landing/mountains3.jpg") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.colors{
  width: 800px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  margin-top: 40px;


  .color{
    height: 3px;
    width: 20%;
    float: left;
  }

  .color:nth-child(1){
    background-color: #1abc9c;
  }
  .color:nth-child(2){
    background-color: #2ecc71;
  }
  .color:nth-child(3){
    background-color: #3498db;
  }
  .color:nth-child(4){
    background-color: #9b59b6;
  }
  .color:nth-child(5){
    background-color: #f1c40f;
  }
}
.container{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;

}


.socialLogin{

  a{
    position: relative;
    margin: 0px auto;
    display: block;
  }

  img{
    width: 250px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 20px;

  }
}

h2{
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
}

input[type='checkbox']{
  display: inline-block !important;
  width: 20px;
}

.rememberBox{
  margin-top: -20px !important;
}