@import "http://fonts.googleapis.com/css?family=Raleway:400,700";
@import "http://fonts.googleapis.com/css?family=Shadows+Into+Light";
body {
  color: #666;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  line-height: 2em; }

.logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px; }

body {
  background: url("../../images/landing/mountains3.jpg") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover; }

.colors {
  width: 800px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  margin-top: 40px; }
  .colors .color {
    height: 3px;
    width: 20%;
    float: left; }
  .colors .color:nth-child(1) {
    background-color: #1abc9c; }
  .colors .color:nth-child(2) {
    background-color: #2ecc71; }
  .colors .color:nth-child(3) {
    background-color: #3498db; }
  .colors .color:nth-child(4) {
    background-color: #9b59b6; }
  .colors .color:nth-child(5) {
    background-color: #f1c40f; }

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF; }

.socialLogin a {
  position: relative;
  margin: 0px auto;
  display: block; }
.socialLogin img {
  width: 250px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 20px; }

h2 {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px; }

input[type='checkbox'] {
  display: inline-block !important;
  width: 20px; }

.rememberBox {
  margin-top: -20px !important; }

/*# sourceMappingURL=login.css.map */
