@import "../partials/global";




.message{
  width: 600px;

  background-color: rgba(255,255,255,0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -150px;
  text-align: center;
  padding: 20px;

  img{
    height: 50px;
    opacity: 0.7;
  }

}

@media (max-width: 600px) {
  .message{
    width: 95%;
    left: 2.5%;
    margin-left: 0px;

    h2{
      font-size: 18px;
    }

    h3{
      font-size: 16px;
    }
  }
}

