@import "http://fonts.googleapis.com/css?family=Raleway:400,700";
@import "http://fonts.googleapis.com/css?family=Shadows+Into+Light";
body {
  color: #666;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  line-height: 2em; }

.logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px; }

.message {
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -150px;
  text-align: center;
  padding: 20px; }
  .message img {
    height: 50px;
    opacity: 0.7; }

@media (max-width: 600px) {
  .message {
    width: 95%;
    left: 2.5%;
    margin-left: 0px; }
    .message h2 {
      font-size: 18px; }
    .message h3 {
      font-size: 16px; } }

/*# sourceMappingURL=message.css.map */
