.container {
  width: 400px;
  margin-top: 40px; }

h2 {
  border: 0px;
  padding: 0px;
  margin-bottom: 0px; }

h3 {
  display: inline;
  font-size: 14px;
  color: #888; }

.header {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px; }

.alert {
  font-size: 16px; }

/*# sourceMappingURL=password.css.map */
