.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF; }

h2 {
  display: inline-block;
  margin-top: 20px; }

h3 {
  display: inline;
  font-size: 14px;
  margin-left: 10px;
  color: #888; }

.header {
  border-bottom: 1px solid #eeeeee; }

.colors {
  width: 800px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  margin-top: 40px; }
  .colors .color {
    height: 3px;
    width: 20%;
    float: left; }
  .colors .color:nth-child(1) {
    background-color: #1abc9c; }
  .colors .color:nth-child(2) {
    background-color: #2ecc71; }
  .colors .color:nth-child(3) {
    background-color: #3498db; }
  .colors .color:nth-child(4) {
    background-color: #9b59b6; }
  .colors .color:nth-child(5) {
    background-color: #f1c40f; }

.socialLogin a {
  position: relative;
  margin: 0px auto;
  display: block; }
.socialLogin img {
  width: 250px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 20px; }

body {
  background: url("../../images/landing/mountains2.jpg");
  background-repeat: no-repeat;
  /* custom background-position */
  background-position: 50% 50%;
  /* ie8- graceful degradation */
  background-position: 50% 50% !important; }

.errors {
  font-size: 16px; }

.parsley-errors-list {
  list-style: none;
  color: #a94442;
  padding-left: 0px; }
  .parsley-errors-list li {
    margin-left: 0px; }

/*# sourceMappingURL=register.css.map */
