@import "http://fonts.googleapis.com/css?family=Raleway:400,700";
@import "http://fonts.googleapis.com/css?family=Shadows+Into+Light";


body{
  color: #666;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  line-height: 2em;
}


.logo{
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;

}
