@import "../partials/global";

body{
  background: url("../../images/dashboard/background.png");
}

.content{
  width: 600px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  margin-top: 100px;
  background-color: #FFF;
  border-radius: 3px;

  header{
    color: #FFF;
    text-align: center;
    padding: 20px;

    h2{
      margin: 0px;
      background-color: rgba(0,0,0,0.2);
      padding: 5px;
    }
  }

  .answer{
    padding: 20px;
    text-align: center;
  }
}