@import "http://fonts.googleapis.com/css?family=Raleway:400,700";
@import "http://fonts.googleapis.com/css?family=Shadows+Into+Light";
body {
  color: #666;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  line-height: 2em; }

.logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px; }

body {
  background: url("../../images/dashboard/background.png"); }

.content {
  width: 600px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  margin-top: 100px;
  background-color: #FFF;
  border-radius: 3px; }
  .content header {
    color: #FFF;
    text-align: center;
    padding: 20px; }
    .content header h2 {
      margin: 0px;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 5px; }
  .content .answer {
    padding: 20px;
    text-align: center; }

/*# sourceMappingURL=custom.css.map */
