@import "http://fonts.googleapis.com/css?family=Raleway:400,700";
@import "http://fonts.googleapis.com/css?family=Shadows+Into+Light";
body {
  color: #666;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  line-height: 2em; }

.logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px; }

header {
  width: 100%;
  height: 30%;
  color: #333;
  text-align: center;
  position: absolute; }
  header h2, header h3 {
    margin: 0px;
    font-weight: 600;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.03); }
  header .questions {
    margin-top: 20%; }
  header h2 {
    font-size: 33px; }
  header h3 {
    font-weight: 300; }

.answers {
  padding-top: 30%; }
  .answers a {
    width: 100%;
    display: block;
    font-size: 40px;
    text-align: center;
    background-color: #FFF;
    padding: 50px 100px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none; }

@media (max-width: 600px) {
  header {
    margin-top: 0px;
    top: 0px;
    height: 300px; }

  .questions {
    margin-top: 0px; }

  .answers {
    margin-top: 0px !important;
    padding-top: 300px; } }

/*# sourceMappingURL=update.css.map */
