@import "../partials/global";



header{
  width: 100%;
  height: 30%;
  color: #333;
  text-align: center;
  position: absolute;

  h2, h3{
    margin: 0px;
    font-weight: 600;
    padding: 10px;
    background-color: rgba(255,255,255,0.03);

  }


  .questions{
    margin-top: 20%;
  }
  h2{
    font-size: 33px;
  }
  h3{
    font-weight: 300;
  }
}

.answers{
  padding-top: 30%;

  a{
    width: 100%;
    display: block;
    font-size: 40px;
    text-align: center;
    background-color: #FFF;
    padding: 50px 100px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
  }
}


@media (max-width: 600px) {
  header{
    margin-top: 0px;
    top: 0px;
    height: 300px;
  }

  .questions{
    margin-top: 0px;
  }

  .answers{
    margin-top: 0px !important;
    padding-top: 300px;
  }
}

